p{
	margin: .5em 0;
}
.topGraphic{
	height:175px;
	position:relative;
}
#greenBox{
	height:120px;
	width:100px;
	background-color:rgba(61,190,73,.7);
	border-radius:5%;
	position: absolute;
	z-index:2;
	top:10px;
}
#greenBoxHidden{
	height:120px;
	width:100px;
	background-color:rgba(61,190,73,1);
	border-radius:5%;
	position: absolute;
	z-index:0;
	top:10px;
}
#blueBox{
	height:100px;
	width:80px;
	background-color:rgba(4,36,77,1);
	border-radius:5%;
	position: absolute;
	top:50px;
	left:70px;;
	z-index:1
}
.container{
	width: 1000px;
	margin: auto;
	font-family: 'Mako', serif;
	font-size: 14px;
	position:relative;
}
.leftColumn{
	width: 250px;
	height: 100vh;
}
.rightColumn{
	width:750px;
	padding: 10px;
    position:absolute;
    left:250px;
    top:0;
}
.skillSet h3{
	font-size: 18px;
	color:rgba(4,36,77,1);
}
.skillSet p{
	margin-left: 10px;
	padding-right:15px;
	margin-bottom:10px;
}
.titleHead{
	font-size:20px;
	text-align:center;
	margin-bottom:25px;
    color: #999;
    letter-spacing:.05em;
}
.titleHead h1{
	font-size:24px;
    margin-bottom:5px;
}
.synopsis{
	background:#eee;
	width:80%;
    margin:auto;
	padding:1px 10px;
	border-radius:10px;
	margin-bottom:25px;
	border:1px solid black;
	box-shadow:5px 5px 10px #000;
}
.portSynopsis{
	margin-bottom:25px;
	padding:1px 10px;
	border-radius: 10px;
	border:1px solid black;
	box-shadow:5px 5px 10px #000;
}
.portList{
	margin-bottom:25px;
	margin-left:10px;
	margin-top:10px;

}
.portfolio li a{
	font-size:18px;
	color: rgba(4,36,77,1);
}
.sectionLink{
	font-size:24px;
	color: rgba(4,36,77,1);
	margin-left:-10px;
	margin-bottom:10px;
}
.sectionLink:hover{
	cursor:pointer;
	color:rgba(4,136,77,1);
}
.workExperience{
	margin-left:10px;
}
.snippets{
	width:70%;
	margin-left:25px;
	padding:10px;

}
/*font-family: 'Martel', serif;
	background-image:url('http://www.colorupinteractive.com/images/grainyTexturecss3beziervurveNet.png');
	background-repeat:repeat;
*/